body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


form {
  margin-top: 30px;
  width: 400px;
}
 
form label {
  text-align: left;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;

}
 
form input {
  margin-top: 10px;
}

form input,
form button {
  font-size: 1rem;
  padding: 4px;
  width: 100%;
  margin-bottom: 25px;
}

form button {
  background: #00d3f3;
  border: 1px solid #2745de;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 7px;
  width: 50%;
  margin-left: 200px;
}
 
form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.to-right {
  float: right;
}

.to-left {
  float: left;
}
 

ul { 
  list-style-type: none; 
  text-align: center; 
  margin: 10px auto; 
  padding: 0px; 
  display: block; 
  overflow: hidden; 
  border-bottom: 2px solid #43a3e6;
  padding: 0.8em 0;
}   

li { 
  display: inline-block;
  list-style: none;
}

li a {
  display:block; 
  padding:8px; 
  text-decoration: none;
}

.message {
  font-size: 1rem;
  color: #2745de;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}